# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Keep repo clean
*.xlsx
*.xls
*.csv
*.tsv
*.parquet
*.pkl
*.zip
*.png
*.jpg
*.jpeg
*.pdf

# Python cache (if any)
__pycache__/
*.pyc
